<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdt.didong.nhanhuynh.toeictest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LuyenThiReadingActivity" />
        <activity android:name=".LuyenThiListeningActivity" />
        <activity android:name=".LuyenThiFullActivity" />
        <activity android:name=".BiQuyetActivity" />
        <activity android:name=".NguPhapActivity" />
        <activity
            android:name=".ThongTinBQActivity"
            android:label="@string/title_activity_thong_tin_bq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HuongDanActivity"
            android:label="@string/title_activity_huong_dan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThongTinNPActivity"
            android:label="@string/title_activity_thong_tin_np"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>